{% assign product = all_products[section.settings.featured_product] %}
<div class="
  section-inner-wrapper
  {% if section.settings.section_width == 'container' %}container{% endif %}
  {% if section.settings.disable_on_mobile %}disable_on_mobile{% endif %}
  {% if section.settings.disable_on_tablet %}disable_on_tablet{% endif %}
  {% if section.settings.disable_on_desktop %}disable_on_desktop{% endif %}
  my-sm-30
  {{ section.settings.custom_classes }}">
  <div class="row no-gutters bg-gray5">
    <div class="col col-12 col-md-6 d-flex justify-content-center align-items-center">
      <img class="variant-image img-fluid w-100" src="{{ product.selected_or_first_available_variant.image | default: product.featured_image | img_url: 'large'}}">
    </div>
    <div class="col col-12 col-md-6 align-self-center px-sm-10 px-md-20 px-lg-30 pl-xl-35 pr-xl-50 ml-auto">
      <div>
        <h4 class="text-white mb-lg-10">{{ product.title}}</h4>
        <h5 class="mb-lg-10 product-price"> 
          <span class="{% if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}text-red{% endif %}">{{ product.selected_or_first_available_variant.price | money}}&nbsp;</span>
          {% if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}
          <i class="fas fa-arrow-left text-red px-5"></i>
          <span class="text-white">{{ product.selected_or_first_available_variant.compare_at_price | money }}</span>
          {% endif %}
        </h5>
        <p class="text-white">
          <small>{{ product.content }}</small>
        </p>
        {% form 'product', product %}
          <atc-dropdown-inputs
            data-product="{{ product | json |escape }}" 
            data-selected-or-first-available-variant="{{ product.selected_or_first_available_variant.id }}"
            data-options-with-values="{{ product.options_with_values | json | escape }}"
            selector-custom-classes="mb-5 py-4 pl-4 bg-gray2 border-0"
            quantity-input-custom-classes="mb-5 py-4 pl-4 bg-gray2 border-0"
            atc-button-custom-classes="btn-white mb-4">
            <div class="bold-ooptions"></div>
          </atc-dropdown-inputs>
          <a class="form-control btn btn-black" type="button" href="{{product.url}}">LEARN MORE</a>
          <div class="btn-group align-self-center h-100" role="group">
            <button class="detail-icon btn btn-primary p-0 pr-3" type="button">
              <i class="fa fa-list pr-2"></i>Detail</button>
            <button class="share-icon btn btn-primary p-0" type="button">
              <i class="fa fa-share-alt pr-2"></i>Share</button>
          </div>
        {% endform %}
      </div>
    </div>
  </div>
</div>
<style>
  .detail-icon{
    background: none;
    color: gray;
    font-size: 0.6rem;
    border: none;
  }
  .share-icon{
    background: none;
    color: gray;
    font-size: 0.6rem;
    border: none;
  }
</style>
<script>
document.addEventListener('variantchanged', function(e){
  const form = e.target;
  const productPriceElement = form.closest('.section-inner-wrapper').querySelector('.product-price');
  const variantImageElement = form.closest('.section-inner-wrapper').querySelector('.variant-image');
  const currentVariant = e.detail.currentVariant;
  const formatMoney = e.detail.formatMoney;
  console.log(variantImageElement);
  if(currentVariant.featured_image) {
    variantImageElement.src = currentVariant.featured_image.src;
  } else {
    variantImageElement.src = "{{ product.featured_image | img_url: 'large'}}";
  }
  if(currentVariant.compare_at_price > currentVariant.price){
    productPriceElement.innerHTML = `<span class="text-red">${formatMoney(currentVariant.price)}&nbsp;</span>
          <i class="fas fa-arrow-left text-red px-5"></i>
          <span class="text-white">${formatMoney(currentVariant.compare_at_price)}</span>`
  } else {
    productPriceElement.innerHTML = `<span class="text-white">${formatMoney(currentVariant.price)}&nbsp;</span>`
  }
});
</script>
{% schema %}
{
  "name": {
    "en": "Featured product"
  },
  "class": "index-section index-section--featured-product",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": {
        "en": "Background"
      }
    },
    {
      "type": "image_picker",
      "id": "img_bg",
      "label": {
        "en": "Background image"
      }
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": {
        "en": "Background color"
      },
      "default": "#3a3a3a"
    },
    {
      "type": "header",
      "content": {
        "en": "Layout"
      }
    },
    {
      "type": "select",
      "id": "section_width",
      "label": {
        "en": "Section Width"
      },
      "default": "full",
      "options": [
        {
          "label": {
            "en": "Container Width"
          },
          "value": "container"
        },
        {
          "label": {
            "en": "Full Width"
          },
          "value": "full"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "disable_on_mobile",
      "label":{
        "en": "Disable on mobile"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_on_tablet",
      "label":{
        "en": "Disable on tablet"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_on_desktop",
      "label":{
        "en": "Disable on desktop"
      },
      "default": false
    },
    {
      "type": "product",
      "id": "featured_product",
      "label": {
        "en": "Product"
      }
    },
    {
      "type":"select",
      "id":"style",
      "label":{
        "en":"Choose a style for desktop"
      },
      "default":"styleA",
      "options":[
        {
          "label":{
            "en":"Style A"
          },
          "value":"styleA"
        },
        {
          "label":{
            "en":"Style B"
          },
          "value":"styleB"
        },
        {
          "label":{
            "en":"Style C"
          },
          "value":"styleC"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_position",
      "label": {
        "en": "Image position"
      },
      "default": "left",
      "options": [
        {
          "label": {
            "en": "Left"
          },
          "value": "left"
        },
        {
          "label": {
            "en": "Right"
          },
          "value": "right"
        }
      ]
    },
    {
      "type": "select",
      "id": "alignment",
      "label": {
        "en": "Content alignment"
      },
      "default": "center",
      "options":[
        {
          "label": {
            "en": "Left"
          },
          "value": "left"
        },
        {
          "label": {
            "en": "Center"
          },
          "value": "center"
        },
        {
          "label": {
            "en": "Right"
          },
          "value": "right"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Featured product"
      },
      "category": {
        "en": "Product"
      }
    }
  ]
}
{% endschema %}