{% assign product = all_products[section.settings.featured_product] %}
<div class="
  section-inner-wrapper
  pt-0
  py-lg-0
  {% if section.settings.disable_on_mobile %}disable_on_mobile{% endif %}
  {% if section.settings.disable_on_tablet %}disable_on_tablet{% endif %}
  {% if section.settings.disable_on_desktop %}disable_on_desktop{% endif %}
  {% case section.settings.style_for_desktop %}{% when 'styleA' %}desktop_style_a{% when 'styleB' %}desktop_style_b{% else %}desktop_style_c{% endcase %}
  bg-{{ settings.default_style_mode }}">
  <featured-product
    data-product="{{ product | json |escape }}" 
    data-selected-or-first-available-variant="{{ product.selected_or_first_available_variant.id }}"
    data-options-with-values="{{ product.options_with_values | json | escape }}"
    data-style="{{ settings.default_style_mode }}"
    data-section-width="{{ section.settings.section_width }}"
    data-image-position="{{ section.settings.image_position }}"
    data-style-for-desktop="{{ section.settings.style_for_desktop }}"
    data-alignment="{{section.settings.alignment }}"
  ></featured-product>
</div>

{% render 'common-section-styles' %}
<style>
  .detail-icon{
    background: none;
    font-size: 0.6rem;
    border: none;
  }
  .share-icon{
    background: none;
    font-size: 0.6rem;
    border: none;
  }

.featured-badge, .featured-badge-style-c{
  background-color: #E54A55;
  padding: 4px;
  width: 100px;
  color: #fff;
  text-align: center;
  font-weight: 400;
  position: absolute;
  z-index: 100;
}

.desktop_style_a .featured-badge 
{
  top: 15%;
}

.featured-badge{
  left: 0;
  border-bottom-right-radius: 20px;
  top: 0;
}

  #shopify-section-{{ section.id }} .product-desc {
  -webkit-line-clamp: 4;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  }

  @media (min-width: 992px) {

    #shopify-section-{{ section.id }} .desktop_style_c .product-item-wrapper{
    background-color: rgba(255, 255, 255, 0.3);
    padding: 16px 16px;
  }
  
    .desktop_style_b .featured-badge {
      top: 0;
      transform: scale(1, calc(10/7));
    }

    .desktop_style_c .featured-product-content{
      padding: 80px 40px 20px;
    }

    .desktop_style_c .featured-badge-style-c{
      border-bottom-right-radius: 20px;
      top: 5%;
    }

    .featured-badge.img-left{
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 0;
      right: 0;
      left: auto;
    }

    .featured-badge.img-right{
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 0;
      left:0;
      right: auto;
    }

    #shopify-section-{{ section.id }} .desktop_style_c .product-item-wrapper {
      position: absolute;
      max-width: 600px;
    }

    #shopify-section-{{ section.id }} .variant-image-wrapper img {
      object-fit: cover;
      object-position: center center;
      max-height: 550px;
    }

    #shopify-section-{{ section.id }} .desktop_style_b .variant-image-wrapper {
      transform: scale(1, 0.7);
      overflow: hidden;
    }

    #shopify-section-{{ section.id }} .desktop_style_b .variant-image-wrapper img {
      transform: scale(1, calc(10/7));
    }

    #shopify-section-{{ section.id }} .desktop_style_b .variant-image-wrapper{
      height: 100%;
    }

    #shopify-section-{{ section.id }} .featured-product-container > .row {
      /* height: 800px; */
    }
}
</style>

{% schema %}
{
  "name": {
    "en": "Featured product"
  },
  "class": "index-section index-section--featured-product",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": {
        "en": "Background"
      }
    },
    {
      "type": "image_picker",
      "id": "img_bg",
      "label": {
        "en": "Background image"
      }
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": {
        "en": "Background color"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Layout"
      }
    },
    {
      "type": "select",
      "id": "section_width",
      "label": {
        "en": "Section Width"
      },
      "default": "full",
      "options": [
        {
          "label": {
            "en": "Container Width"
          },
          "value": "container"
        },
        {
          "label": {
            "en": "Full Width"
          },
          "value": "full"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "disable_on_mobile",
      "label":{
        "en": "Disable on mobile"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_on_tablet",
      "label":{
        "en": "Disable on tablet"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_on_desktop",
      "label":{
        "en": "Disable on desktop"
      },
      "default": false
    },
    {
      "type": "product",
      "id": "featured_product",
      "label": {
        "en": "Product"
      }
    },
    {
      "type":"select",
      "id":"style_for_desktop",
      "label":{
        "en":"Choose a style for desktop"
      },
      "default":"styleA",
      "options":[
        {
          "label":{
            "en":"Style A"
          },
          "value":"styleA"
        },
        {
          "label":{
            "en":"Style B"
          },
          "value":"styleB"
        },
        {
          "label":{
            "en":"Style C"
          },
          "value":"styleC"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_position",
      "label": {
        "en": "Image position"
      },
      "default": "left",
      "options": [
        {
          "label": {
            "en": "Left"
          },
          "value": "left"
        },
        {
          "label": {
            "en": "Right"
          },
          "value": "right"
        }
      ]
    },
    {
      "type": "select",
      "id": "alignment",
      "label": {
        "en": "Content alignment"
      },
      "default": "center",
      "options":[
        {
          "label": {
            "en": "Left"
          },
          "value": "left"
        },
        {
          "label": {
            "en": "Center"
          },
          "value": "center"
        },
        {
          "label": {
            "en": "Right"
          },
          "value": "right"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Featured product"
      },
      "category": {
        "en": "Product"
      }
    }
  ]
}
{% endschema %}