<div class="
  section-inner-wrapper
  {% if section.settings.disable_on_mobile %}disable_on_mobile{% endif %}
  {% if section.settings.disable_on_tablet %}disable_on_tablet{% endif %}
  {% if section.settings.disable_on_desktop %}disable_on_desktop{% endif %}
  bg-{{ settings.default_style_mode }}
  ">
  <div class="{% if section.settings.section_width == 'container' %}container{% endif %} text-{{ settings.default_style_mode }}-text py-40">
   {% if section.settings.title %}
      <h3 class="text-center pb-20">{{ section.settings.title }}</h3>
   {% endif %}

   <div class="row">
      {% for block in section.blocks %}
      {% assign product = all_products[block.settings.featured_product] %}
      <div class="col col-12 col-sm-3">
         <img class="img-fluid w-100 d-block" src="{{ product.selected_or_first_available_variant.image | default: product.featured_image | img_url: '480x300', crop: 'center' }}">
         <div class="text-{{ block.settings.alignment }}">
            <h6 class="crop-text-1 my-10">{{ product.title}}</h6>
            <div class="crop-content my-10">
               {{ product.content | strip_html }}
            </div>
            <a class="btn bg-{{ settings.default_style_mode }}-filled-btn text-{{ settings.default_style_mode }}-filled-btn-text mb-20" href="{{ product.url }}">{{ block.settings.button_label }}</a>
         </div>
      </div>
      {% endfor %}
   </div>
  </div>
</div>
{% render 'common-section-styles' %}

<style>
  
   .crop-text-1 {
   -webkit-line-clamp: 1;
   overflow : hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   }
 
   .crop-content {
      -webkit-line-clamp: {{ section.settings.line_num }};
      overflow : hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
   }
 
 </style>

{% schema %}
{
   "name":{
      "en":"Featured Products"
   },
   "class":"index-section index-section--featured-products",
   "max_blocks":4,
   "settings":[
      {
         "type": "header",
         "content": {
         "en": "Background"
         }
      },
      {
         "type":"image_picker",
         "id":"img_bg",
         "label":{
            "en":"Background image"
         }
      },
      {
         "type":"color",
         "id":"color_bg",
         "label":{
            "en":"Background color"
         }
      },
      {
         "type": "header",
         "content": {
         "en": "Layout"
         }
      },
      {
         "type":"select",
         "id":"section_width",
         "label":{
            "en":"Section Width"
         },
         "default":"full",
         "options":[
            {
               "label":{
                  "en":"Container Width"
               },
               "value":"container"
            },
            {
               "label":{
                  "en":"Full Width"
               },
               "value":"full"
            }
         ]
      },
      {
         "type":"checkbox",
         "id":"disable_on_mobile",
         "label":{
            "en":"Disable on mobile"
         },
         "default":false
      },
      {
         "type":"checkbox",
         "id":"disable_on_tablet",
         "label":{
            "en":"Disable on tablet"
         },
         "default":false
      },
      {
         "type":"checkbox",
         "id":"disable_on_desktop",
         "label":{
            "en":"Disable on desktop"
         },
         "default":false
      },
      {
         "type": "header",
         "content": {
           "en": "Section Content"
         }
       },
       {
         "type": "text",
         "id": "title",
         "label": {
           "en": "Title"
         }
       },
       {
         "type":      "range",
         "id":        "line_num",
         "min":       1,
         "max":        20,
         "step":       1,
         "label":     "Show # of Line Text for Description",
         "default":   6
       }
   ],
   "blocks":[
      {
         "type":"product",
         "name":{
            "en":"product"
         },
         "settings":[
            {
               "type":"product",
               "id":"featured_product",
               "label":{
                  "en":"Product"
               }
            },
            {
               "type": "text",
               "id": "button_label",
               "label": {
                 "en": "Button label"
               }
             },
            {
            "type": "select",
            "id": "alignment",
            "label": {
               "en": "Content alignment"
            },
            "default": "center",
            "options":[
               {
               "label": {
                  "en": "Left"
               },
               "value": "left"
               },
               {
               "label": {
                  "en": "Center"
               },
               "value": "center"
               },
               {
               "label": {
                  "en": "Right"
               },
               "value": "right"
               }
            ]
         }
         ]
      }
   ],
   "presets":[
      {
         "name":{
            "en":"Featured products"
         },
         "category":{
            "en":"Product"
         }
      }
   ]
}
{% endschema %}