<div class="
  section-inner-wrapper
  {% if section.settings.disable_on_mobile %}disable_on_mobile{% endif %}
  {% if section.settings.disable_on_tablet %}disable_on_tablet{% endif %}
  {% if section.settings.disable_on_desktop %}disable_on_desktop{% endif %}
  bg-{{ settings.default_style_mode }}">
  
  <div class="{% if section.settings.section_width == 'container' %}container{% else %}container-fluid{% endif %} text-{{ settings.default_style_mode }}-text"> 
      <div class="row mb-20">
          <div class="col-sm-12 my-auto text-center">
            {% if section.settings.section-title %}
              <h4>{{ section.settings.section-title }}</h4>
            {% endif %}
          </div>
      </div>
      <div class="d-flex flex-wrap">
        {% for block in section.blocks %}
          {% assign collection = collections[block.settings.collection] %}
          <div class="collection-card col-12 col-lg-4 p-0 m-0">
              <a href="{{ collection.url }} "><img class="card-img-top img-fluid d-block" src="{{ collection.image  | img_url: '800x700', crop: 'center' }}"></a>
              <div class="collection-title text-white text-center">{{ collection.title }} <br> >> </div>
          </div>
        {% endfor %}

      </div>
      <div class="row mt-sm-30">
          <div class="col-sm-12 my-auto text-center">
              <a class="view-all text-{{ settings.default_style_mode }}-text" href="/collections/all"><u>{{ section.settings.button_label }} > </u></a>
          </div>
      </div>
    </div>
</div>

{% render 'common-section-styles' %}

<style>
  #shopify-section-{{ section.id }} .card-img-top:hover {
    transform: scale(1.2);
    opacity: .9;
  }

  #shopify-section-{{ section.id }} .card-img-top
  {
    transition: transform .5s ease;
  }
  #shopify-section-{{ section.id }} .collection-card{
    overflow: hidden;
  }

</style>
{% schema %}
{
  "name": {
    "en": "Featured collections"
  },
  "class": "index-section index-section--featured-collections",
  "tag": "section",
  "max_blocks": 3,
  "settings": [
    {
      "type": "header",
      "content": {
        "en": "Background"
      }
    },
    {
      "type": "image_picker",
      "id": "img_bg",
      "label": {
        "en": "Background image"
      }
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": {
        "en": "Background color"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Layout"
      }
    },
    {
      "type": "select",
      "id": "section_width",
      "label": {
        "en": "Section Width"
      },
      "default": "full",
      "options": [
        {
          "label": {
            "en": "Container Width"
          },
          "value": "container"
        },
        {
          "label": {
            "en": "Full Width"
          },
          "value": "full"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "disable_on_mobile",
      "label":{
        "en": "Disable on mobile"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_on_tablet",
      "label":{
        "en": "Disable on tablet"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_on_desktop",
      "label":{
        "en": "Disable on desktop"
      },
      "default": false
    },
    {
      "type": "header",
      "content": {
        "en": "Section Content"
      }
    },
    {
      "type": "text",
      "id": "section-title",
      "label": {
        "en": "Title"
        }
    },
    {
      "type": "text",
      "id": "button_label",
      "label": {
        "en": "View All Button label"
      }
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": {
        "en": "Collection"
      },
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": {
            "en": "Collection"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Featured collections"
      },
      "category": {
        "en": "Collection"
      }
    }
  ]
}
{% endschema %}