<div class="
  section-inner-wrapper
  {% if section.settings.section_width == 'container' %}container{% else %}container-fluid{% endif %}
  {% if section.settings.disable_on_mobile %}disable_on_mobile{% endif %}
  {% if section.settings.disable_on_tablet %}disable_on_tablet{% endif %}
  {% if section.settings.disable_on_desktop %}disable_on_desktop{% endif %}
  pt-30 bg-gray1
  {{ section.settings.custom_classes }}">
    <div class="row">
        <div class="col col-12 col-md-3">
            <img class="d-xl-flex lazyload" src="{{ 'logo.png' | asset_img_url: '300x' }} " data-src="{{ img_url }}" data-widths="[120, 180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]" data-sizes="auto" alt="{{ shop.name | escape }}" itemprop="logo">
        </div>
        <div class="col col-12 col-md-2">
            <ul style="list-style: none;">
                <li>HOME</li>
                <li>ABOUT</li>
                <li>MENU</li>
                <li>RESERVATION</li>
                <li>CONTACT</li>
                <li>204-555-5555</li>
            </ul>
        </div>
        <div class="col col-12 col-md-5"></div>
        <div class="col col-12 col-md-2">
            <a href="#">
                <i class="fab fa-facebook text-gray2 mr-4"></i>
            </a>
            <a href="#">
                <i class="fab fa-instagram text-gray2 mr-4"></i>
            </a>
            <a href="#">
                <i class="fab fa-twitter text-gray2"></i>
            </a>
        </div>
    </div>
</div>
<div class="bg-gray2">
    <small class="text-gray4 py-10 d-block text-center w-100">@2020 LOGO Restaurant. All Rights Reserved</small>
</div>
<style>
  .static-section--footer .section-inner-wrapper{
    background-color: {{ section.settings.color_bg }};
    {% if section.settings.img_bg != blank %}
    background-image: url("{{ section.settings.img_bg | img_url }}");
    {% endif %}
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

{% schema %}
{
  "name": {
    "en": "Footer"
  },
  "class": "static-section static-section--footer",
  "tag": "footer",
  "max_blocks": 4,
  "settings": [
    {
      "type": "header",
      "content": {
        "en": "Background"
      }
    },
    {
      "type": "image_picker",
      "id": "img_bg",
      "label": {
        "en": "Background image"
      }
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": {
        "en": "Background color"
      },
      "default": "#3a3a3a"
    },
    {
      "type": "header",
      "content": {
        "en": "Layout"
      }
    },
    {
      "type": "select",
      "id": "section_width",
      "label": {
        "en": "Section Width"
      },
      "default": "full",
      "options": [
        {
          "label": {
            "en": "Container Width"
          },
          "value": "container"
        },
        {
          "label": {
            "en": "Full Width"
          },
          "value": "full"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "disable_on_mobile",
      "label":{
        "en": "Disable on mobile"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_on_tablet",
      "label":{
        "en": "Disable on tablet"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_on_desktop",
      "label":{
        "en": "Disable on desktop"
      },
      "default": false
    }
  ],
  "blocks":  [
    {
      "type": "image_picker",
      "name": {
        "en": "Footer logo"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "footer_logo",
          "label": {
            "en": "Footer logo"
          }
        }
      ]
    },
    {
      "type": "link_list",
      "name": {
        "en": "Navigation menu"
      },
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Heading"
          },
          "default": {
            "en": "Quick links"
          }
        },
        {
          "type": "link_list",
          "id": "footer_menu",
          "label": {
            "en": "Menu"
          },
          "default": "footer"
        }
      ]
    },
    {
      "type": "html",
      "name": {
        "en": "Custom HTML"
      },
      "settings": [
        {
          "type": "html",
          "id": "footer_custom_html",
          "label": {
            "en": "Custom HTML"
          }
        }
      ]
    },
    {
      "type": "social_icons",
      "name": {
        "en": "Social icons"
      },
      "settings": [
        {
          "type": "checkbox",
          "id": "social_twitter_enabled",
          "label": {
            "en": "Twitter"
          }
        },
        {
          "type": "checkbox",
          "id": "social_facebook_enabled",
          "label": {
            "en": "Facebook"
          }
        },
        {
          "type": "checkbox",
          "id": "social_pinterest_enabled",
          "label": {
            "en": "Pinterest"
          }
        },
        {
          "type": "checkbox",
          "id": "social_googleplus_enabled",
          "label": {
            "en": "Googleplus"
          }
        },
        {
          "type": "checkbox",
          "id": "social_instagram_enabled",
          "label": {
            "en": "Instagram"
          }
        },
        {
          "type": "checkbox",
          "id": "social_tumblr_enabled",
          "label": {
            "en": "Tumblr"
          }
        },
        {
          "type": "checkbox",
          "id": "social_snapchat_enabled",
          "label": {
            "en": "Snapchat"
          }
        },
        {
          "type": "checkbox",
          "id": "social_youtube_enabled",
          "label": {
            "en": "Youtube"
          }
        },
        {
          "type": "checkbox",
          "id": "social_vimeo_enabled",
          "label": {
            "en": "Vimeo"
          }
        },
        {
          "type": "checkbox",
          "id": "social_fancy_enabled",
          "label": {
            "en": "Fancy"
          }
        },
        {
          "type": "checkbox",
          "id": "social_rss_enabled",
          "label": {
            "en": "RSS"
          }
        }
      ]
    }
  ]
}
{% endschema %}