{% assign links = linklists[section.settings.nav_menu].links %}
{% assign logo_img = settings.default_style_mode | append: '_logo_img'%}
<div class="section-inner-wrapper 
    {% if section.settings.disable_on_mobile %}disable_on_mobile{% endif %}
    {% if section.settings.disable_on_tablet %}disable_on_tablet{% endif %}
    {% if section.settings.disable_on_desktop %}disable_on_desktop{% endif %}
    {% if section.settings.style_for_desktop == 'styleA'%}desktop_style_a{% else %}desktop_style_b{% endif %}
    {% if section.settings.style_for_mobile == 'styleA'%}mobile_style_a{% else %}mobile_style_b{% endif %}
    bg-{{ settings.default_style_mode }}-header  py-0">
   <div class="{% if section.settings.section_width == 'container' %}container{% endif %}">    

{% if section.settings.style_for_mobile == 'styleB' %}
<ul class="navbar-nav fixed-bottom header_navbar-nav header_navbar-nav-bottom-icons-wrapper d-lg-none">
  <li class="nav-item d-flex header_nav-item-icons justify-content-around">
    {% render 'nav-icons' %}
  </li>
</ul>
{% endif %}
  <div class="navbar header_navbar{% unless section.settings.style_for_desktop == 'styleB' %} d-none{% else %} d-none d-lg-flex{% endunless %}">
    <a class="navbar-brand header_navbar-brand" href="/">
      <img alt="Datomar Theme Dev" class="logo_image header_logo_image"  src="{{ section.settings[logo_img] | img_url: '150x' }}"/>
    </a>
  </div>
  <nav class="navbar navbar-expand-lg header_navbar align-items-lg-end navbar-{{ settings.default_style_mode}} navbar-{{ settings.default_style_mode }}-header py-8">
    <a class="navbar-brand header_navbar-brand{% unless section.settings.style_for_desktop == 'styleA' %} d-lg-none{% endunless %}" href="/">
      <img alt="Datomar Theme Dev" class="logo_image header_logo_image"  src="{{ section.settings[logo_img] | img_url: '150x' }}"/>
    </a>
    <button class="text-{{settings.default_style_mode}}-header-text navbar-toggler border-0" type="button" data-trigger="#main_nav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <div class="bg-{{ settings.default_style_mode }}-header navbar-collapse" id="main_nav"> -->
    <div class=" navbar-collapse" id="main_nav">
      {% if section.settings.style_for_desktop == 'styleA' %}
      <ul class="navbar-nav header_navbar-nav d-none d-lg-flex">
        <li class="nav-item d-lg-flex header_nav-item-icons">
          {% render 'nav-icons' %}
        </li>
      </ul>
      {% endif %}
      <ul class="navbar-nav header_navbar-nav">
        {% for link in links %}
        {% if link.links != blank %}
        {% assign first_level_index = forloop.index %}
        <li class="nav-item d-lg-flex align-items-lg-center dropdown has-megamenu">
            <a class="text-{{settings.default_style_mode}}-header-text nav-link dropdown-toggle first-level-nav-link{% if link.child_active %} active{% endif %}" data-toggle="dropdown" href="{{ link.url }}">{{ link.title | escape }}</a>
            <div class="dropdown-menu megamenu" tabindex="0">
                <div class="d-flex flex-wrap w-100">
                    {% for sublink in link.links %}
                        {% if sublink.links != blank %}
                            {% assign second_level_index = forloop.index %}
                            <div class="col-12 col-md-4 col-lg-2">
                                <div class="col-megamenu">
                                    <a class=" nav-link px-0 second-level-nav-link{% if sublink.active %} active{% endif %}" href="{{ sublink.url }}">{{ sublink.title | escape }}</a>
                                    <ul class="list-unstyled">
                                        {% for subsublink in sublink.links %}
                                            <li class="py-2">
                                                <a href="{{ subsublink.url }}">{{ subsublink.title | escape }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-12 col-md-4 col-lg-2">
                                <div class="col-megamenu">
                                    <a class="nav-link px-0 second-level-nav-link{% if sublink.active %} active{% endif %}" href="{{ sublink.url }}"><img class="img-fluid" src="{{ sublink.object.featured_image | img_url: '250x260', crop: 'center'}}">
                                    </a>
                                        <a class="product-title p-0 nav-link second-level-nav-link{% if sublink.active %} active{% endif %}" href="{{ sublink.url }}">{{ sublink.object.title }}</a>
                                    <span class="product-price">{{ sublink.object.price | money }}</span>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </li>
        {% else %}
        <li class="nav-item{% if link.active %} active{% endif %} d-lg-flex align-items-lg-center ">
            <a class="text-{{settings.default_style_mode}}-header-text nav-link first-level-nav-link" href="{{ link.url }}">{{ link.title | escape }}</a>
        </li>
        {% endif %}
        {% endfor %}
        <li class="nav-item header_nav-item-icons{% if section.settings.style_for_mobile == 'styleB' %} d-none{% else %} d-flex justify-content-around{% endif %}{% if section.settings.style_for_desktop == 'styleA' %} d-lg-none{% else %} d-lg-flex{% endif %}">
          {% render 'nav-icons' %}
        </li>
      </ul>
    </div> <!-- navbar-collapse.// -->
  </nav>
</div>

</div>
<style>
  @media (min-width: 992px) {
    .desktop_style_b .header_navbar-brand {
      margin: 0 auto;
    }

    .desktop_style_b .header_navbar-nav {
      margin: 0 auto;
    }

    .desktop_style_a #main_nav {
      justify-content: flex-end;
      flex-direction: column;
      align-items: flex-end;
    }

  }

  @media (max-width: 991.98px) {
    .header_logo_image {
      width: 80px;
    }
  }
  .mobile_style_b .header_navbar-nav-bottom-icons-wrapper {
    background: white;
  }

  a[href="/cart"] {
    position: relative;
  }

  i.fas.fa-shopping-cart:after {
    display: block;
    height: 22px;
    min-width: 22px;
    padding: 3px;
    font-size: 0.6875rem;
    line-height: 12px;
    color: #1a390c;
    text-align: center;
    text-decoration: none;
    background-color: #ffab41;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    content: attr(data-cart-count);
    position: absolute;
    top: 0px;
    left: 18px;
  }
</style>

{% schema %}
{
   "name":{
      "en":"Header"
   },
   "tag": "header",
   "class":"static-section static-section-header",
   "settings":[
      {
         "type":"header",
         "content":{
            "en":"Background"
         }
      },
      {
         "type":"image_picker",
         "id":"img_bg",
         "label":{
            "en":"Background image"
         }
      },
      {
         "type":"color",
         "id":"color_bg",
         "label":{
            "en":"Background color"
         },
         "default":"rgba(0,0,0,0)"
      },
      {
         "type":"header",
         "content":{
            "en":"Layout"
         }
      },
      {
         "type":"select",
         "id":"section_width",
         "label":{
            "en":"Section Width"
         },
         "default":"full",
         "options":[
            {
               "label":{
                  "en":"Container Width"
               },
               "value":"container"
            },
            {
               "label":{
                  "en":"Full Width"
               },
               "value":"full"
            }
         ]
      },
      {
         "type":"checkbox",
         "id":"disable_on_mobile",
         "label":{
            "en":"Disable on mobile"
         },
         "default":false
      },
      {
         "type":"checkbox",
         "id":"disable_on_tablet",
         "label":{
            "en":"Disable on tablet"
         },
         "default":false
      },
      {
         "type":"checkbox",
         "id":"disable_on_desktop",
         "label":{
            "en":"Disable on desktop"
         },
         "default":false
      },
      {
        "type": "header",
        "content": {
          "en": "Header Logo"
        }
      },
      {
        "type": "image_picker",
        "id": "light_logo_img",
        "label":{
          "en":"Logo image in light mode"
        }
      },
      {
        "type": "image_picker",
        "id": "dark_logo_img",
        "label":{
          "en":"Logo image in dark mode"
        }
      },
    {
      "type": "header",
      "content": {
        "en": "Main menu"
      }
    },
    {
      "type": "link_list",
      "id": "nav_menu",
      "label": {
        "en": "Menu"
      },
      "default": "main-menu"
    },
    {
      "type":"select",
      "id":"style_for_desktop",
      "label":{
        "en":"Choose a style for desktop"
      },
      "default":"styleA",
      "options":[
        {
          "label":{
            "en":"Style A: Logo left with navigation right."
          },
          "value":"styleA"
        },
        {
          "label":{
            "en":"Style B: Logo centered with navigation below it."
          },
          "value":"styleB"
        }
      ]
    },
    {
      "type":"select",
      "id":"style_for_mobile",
      "label":{
        "en":"Choose a style for mobile"
      },
      "default":"styleA",
      "options":[
        {
          "label":{
            "en":"Style A: account, search, cart in the menu"
          },
          "value":"styleA"
        },
        {
          "label":{
            "en":"Style B: account, search, cart on the bottom"
          },
          "value":"styleB"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "display_phone_number",
      "label":{
        "en": "Display Phone Number"
      },
      "default": true
    }
  ]
}
{% endschema %}
