{% assign links = linklists[section.settings.nav_menu].links %}
<div class="
  section-inner-wrapper
  {% if section.settings.section_width == 'container' %}container{% endif %}
  {% if section.settings.disable_on_mobile %}disable_on_mobile{% endif %}
  {% if section.settings.disable_on_tablet %}disable_on_tablet{% endif %}
  {% if section.settings.disable_on_desktop %}disable_on_desktop{% endif %}
  {{ section.settings.custom_classes }}
   {% if section.settings.style_for_desktop == 'styleA'%}style_for_desktop_a{% else %}style_for_desktop_b{% endif %}
  {% if section.settings.style_for_mobile == 'styleA'%}style_for_mobile_a{% else %}style_for_mobile_b{% endif %}">
  <div
    {% if section.settings.style_for_desktop == 'styleA' %}
    class="float-md-left row justify-content-between justify-content-md-center"
    {% else %}
    class="pt-md-30 pb-md-10 row justify-content-between justify-content-md-center"
    {% endif %} 
    id="top-logo"
  >
    <div class="text-center float-left float-md-none col col-auto">
      <img 
        alt="Datomar Theme Dev" 
        class="logo__image lazyautosizes ls-is-cached lazyloaded" 
        data-sizes="auto" 
        data-src="" 
        data-widths="[120, 180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]" 
        itemprop="logo" 
        sizes="120px" 
        src="{{ section.settings.logo_img | img_url }}" 
      />
    </div>
    <button class="d-block d-md-none navbar-toggler border-0 navbar navbar-light col col-auto" data-trigger="#navbar_main">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div 
    {% if section.settings.style_for_desktop == 'styleA' %}
    class="float-right"
    {% else %}
    class=""
    {% endif %} 
    id="top-navigation"
  >
    <nav class="navbar navbar-light navbar-expand-md mobile-offcanvas" id="navbar_main">
      <div class="container-fluid bg-white">
        <div class="mx-md-auto" id="navcol">
          <ul class="nav navbar-nav">
            {% for link in links %}
              {% if link.links != blank %}
                {% assign first_level_index = forloop.index %}
                <li class="nav-item dropdown has-megamenu">
                  <a class="nav-link dropdown-toggle first-level-nav-link{% if link.child_active %} active{% endif %}" data-toggle="dropdown" href="{{ link.url }}">{{ link.title | escape }}</a>
                  <div class="dropdown-menu megamenu" tabindex="0">
                    <div class="row">
                      {% for sublink in link.links %}
                        {% if sublink.links != blank %}
                        {% assign second_level_index = forloop.index %}
                          <div class="col-md-2">
                            <div class="col-megamenu">
                              <a class="nav-link second-level-nav-link{% if sublink.active %} active{% endif %}" href="{{ sublink.url }}">{{ sublink.title | escape }}</a>
                              <ul class="list-unstyled">
                                {% for subsublink in sublink.links %}
                                  <li>
                                    <a href="{{ subsublink.url }}">{{ subsublink.title | escape }}</a>
                                  </li>
                                {% endfor %}
                              </ul>
                            </div>
                          </div>
                        {% else %}
                          <div class="col-md-2">
                            <div class="col-megamenu">
                              <img class="img-fluid" src="{{ sublink.object.featured_image | img_url }}">
                              <h6 class="product-title">{{ sublink.object.title }}</h6>
                              <h4 class="product-price">{{ sublink.object.price | money }}</h4>
                              <a class="nav-link second-level-nav-link{% if sublink.active %} active{% endif %}" href="{{ sublink.url }}"></a>
                            </div>
                          </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link{% if link.active %} active{% endif %} first-level-nav-link" href="{{ link.url }}">{{ link.title | escape }}</a>
                </li>
              {% endif %}
            {% endfor %}
            <li class="navbar-text">
              <span class="navbar-text d-flex align-items-center">204-555-5555</span>
            </li>
            <li class="nav-item d-flex">
              <a class="nav-link active" href="#">
                <i aria-hidden="true" class="far fa-user"></i>
              </a>
              <a class="nav-link" href="#">
                <i aria-hidden="true" class="fas fa-shopping-cart"></i>
              </a>
              <a class="nav-link" href="#">
                <i aria-hidden="true" class="fa fa-search"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
<style>
  .static-section-header{
    background-color: {{ section.settings.color_bg }};
    {% if section.settings.img_bg != blank %}
    background-image: url("{{ section.settings.img_bg | img_url }}");
    {% endif %}
    background-repeat: no-repeat;
    background-size: cover;
  }

  .static-section-header .section-inner-wrapper.style_for_desktop_a{

  }

  .static-section-header .section-inner-wrapper.style_for_desktop_b {

  }

  .static-section-header .section-inner-wrapper.style_for_mobile_a{

  }

  .static-section-header .section-inner-wrapper.style_for_mobile_b{
    
  }
</style>
{% schema %}
{
   "name":{
      "en":"Header"
   },
   "tag": "header",
   "class":"static-section static-section-header",
   "settings":[
      {
         "type":"header",
         "content":{
            "en":"Background"
         }
      },
      {
         "type":"image_picker",
         "id":"img_bg",
         "label":{
            "en":"Background image"
         }
      },
      {
         "type":"color",
         "id":"color_bg",
         "label":{
            "en":"Background color"
         },
         "default":"rgba(0,0,0,0)"
      },
      {
         "type":"header",
         "content":{
            "en":"Layout"
         }
      },
      {
         "type":"select",
         "id":"section_width",
         "label":{
            "en":"Section Width"
         },
         "default":"full",
         "options":[
            {
               "label":{
                  "en":"Container Width"
               },
               "value":"container"
            },
            {
               "label":{
                  "en":"Full Width"
               },
               "value":"full"
            }
         ]
      },
      {
         "type":"checkbox",
         "id":"disable_on_mobile",
         "label":{
            "en":"Disable on mobile"
         },
         "default":false
      },
      {
         "type":"checkbox",
         "id":"disable_on_tablet",
         "label":{
            "en":"Disable on tablet"
         },
         "default":false
      },
      {
         "type":"checkbox",
         "id":"disable_on_desktop",
         "label":{
            "en":"Disable on desktop"
         },
         "default":false
      },
      {
         "type":"text",
         "id":"custom_classes",
         "label":{
            "en":"Custom class names assigned to inner wrapper div"
         }
      },
      {
        "type": "header",
        "content": {
          "en": "Header Logo"
        }
      },
      {
        "type": "image_picker",
        "id": "logo_img",
        "label":{
          "en":"Logo image"
        }
      },
    {
      "type": "header",
      "content": {
        "en": "Main menu"
      }
    },
    {
      "type": "link_list",
      "id": "nav_menu",
      "label": {
        "en": "Menu"
      },
      "default": "main-menu"
    },
    {
      "type":"select",
      "id":"style_for_desktop",
      "label":{
        "en":"Choose a style for desktop"
      },
      "default":"styleA",
      "options":[
        {
          "label":{
            "en":"Style A: Logo left with navigation right."
          },
          "value":"styleA"
        },
        {
          "label":{
            "en":"Style B: Logo centered with navigation below it."
          },
          "value":"styleB"
        }
      ]
    },
    {
      "type":"select",
      "id":"style_for_mobile",
      "label":{
        "en":"Choose a style for mobile"
      },
      "default":"styleA",
      "options":[
        {
          "label":{
            "en":"Style A: account, search, cart in the menu"
          },
          "value":"styleA"
        },
        {
          "label":{
            "en":"Style B: account, search, cart on the bottom"
          },
          "value":"styleB"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "display_phone_number",
      "label":{
        "en": "Display Phone Number"
      },
      "default": true
    }
  ]
}
{% endschema %}