<div class="
  section-inner-wrapper
  {% if section.settings.disable_on_mobile %}disable_on_mobile{% endif %}
  {% if section.settings.disable_on_tablet %}disable_on_tablet{% endif %}
  {% if section.settings.disable_on_desktop %}disable_on_desktop{% endif %}
  {{ section.settings.style }}
  bg-{{ settings.default_style_mode }}">

  <div class="{% if section.settings.section_width == 'container' %}container{% endif %}"> 
    <div class="row no-gutters">
        <div class="col col-12 col-md-6 
        {% if section.settings.image_position == 'left' %}order-first{% endif %} {% if section.settings.image_position == 'right' %}order-last{% endif %}
        ">
            <img class="img-fluid" src="{{ section.settings.image | img_url: 'master' }}" />
        </div>
        <div class="text-{{ settings.default_style_mode }}-text col col-12 col-md-6 align-self-center pl-35 pr-50 ml-auto w-50 
        text-{{ section.settings.alignment }}
        ">
            <h3 class="mb-lg-20">{{ section.settings.header }}</h3>
            <div class="content mb-lg-20">
              {{ section.settings.text }}
            </div>

            <a class="bg-{{ settings.default_style_mode }}-filled-btn text-{{ settings.default_style_mode }}-filled-btn-text btn mr-sm-10" href="{{ section.settings.first_button_link }}">{{ section.settings.first_button_label }}</a>
            <a class="border-{{ settings.default_style_mode }}-outline-btn-border bg-{{ settings.default_style_mode }}-outline-btn text-{{ settings.default_style_mode }}-outline-btn-text btn" href="{{ section.settings.second_button_link }}">{{ section.settings.second_button_label }}</a>
        </div>
    </div>
  </div>
</div>

<style>
  #shopify-section-{{ section.id }} .section-inner-wrapper{
    {% if section.settings.color_bg != 'rgba(0,0,0,0)' %}
    background-color: {{ section.settings.color_bg }}!important;
    {% endif %}
    {% if section.settings.img_bg != blank %}
    background-image: url("{{ section.settings.img_bg | img_url: 'master'  }}");
    {% endif %}
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
</style>
{% schema %}
{
  "name": {
    "en": "Image with text"
  },
  "class": "index-section index-section--image-with-text",
  "tag": "section",
  "settings": [
  {
      "type": "header",
      "content": {
        "en": "Background"
      }
    },
    {
      "type": "image_picker",
      "id": "img_bg",
      "label": {
        "en": "Background image"
      }
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": {
        "en": "Background color"
      } 
   },
    {
      "type": "header",
      "content": {
        "en": "Layout"
      }
    },
    {
      "type": "select",
      "id": "section_width",
      "label": {
        "en": "Section Width"
      },
      "default": "full",
      "options": [
        {
          "label": {
            "en": "Container width"
          },
          "value": "container"
        },
        {
          "label": {
            "en": "Full width"
          },
          "value": "full"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "disable_on_mobile",
      "label":{
        "en": "Disable on mobile"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_on_tablet",
      "label":{
        "en": "Disable on tablet"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_on_desktop",
      "label":{
        "en": "Disable on desktop"
      },
      "default": false
    },
    {
      "type": "header",
      "content": {
        "en": "Section Content"
      }
    },
    {
      "type": "select",
      "id": "style",
      "label": {
        "en": "Choose a style"
      },
      "default": "styleA",
      "options": [
        {
          "label": {
            "en": "Style A"
          },
          "value": "styleA"
        },
        {
          "label": {
            "en": "Style B"
          },
          "value": "styleB"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": {
        "en": "Image"
      }
    },
    {
      "type": "select",
      "id": "image_position",
      "label": {
        "en": "Image position"
      },
      "default": "left",
      "options": [
        {
          "label": {
            "en": "Left"
          },
          "value": "left"
        },
        {
          "label": {
            "en": "Right"
          },
          "value": "right"
        }
      ]
    },
    {
      "type": "text",
      "id": "first_button_label",
      "label": {
        "en": "First Button label"
      }
    },
    {
      "type": "url",
      "id": "first_button_link",
      "label": {
        "en": "First Button link"
      }
    },
    {
      "type": "text",
      "id": "second_button_label",
      "label": {
        "en": "Second Button label"
      }
    },
    {
      "type": "url",
      "id": "second_button_link",
      "label": {
        "en": "Second Button link"
      }
    },
    {
      "type": "text",
      "id": "header",
      "label": {
        "en": "Header"
      }
    },
    {
      "type": "richtext",
      "id": "text",
      "label": {
        "en": "Text"
      }
    },
    {
      "type": "select",
      "id": "alignment",
      "label": {
        "en": "Content alignment"
      },
      "default": "center",
      "options":[
        {
          "label": {
            "en": "Left"
          },
          "value": "left"
        },
        {
          "label": {
            "en": "Center"
          },
          "value": "center"
        },
        {
          "label": {
            "en": "Right"
          },
          "value": "right"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Image with text"
      },
      "category": {
        "en": "image"
      }
    }
  ]
}
{% endschema %}