<div class="
  section-inner-wrapper
  {% if section.settings.disable_on_mobile %}disable_on_mobile{% endif %}
  {% if section.settings.disable_on_tablet %}disable_on_tablet{% endif %}
  {% if section.settings.disable_on_desktop %}disable_on_desktop{% endif %}
  bg-{{ settings.default_style_mode }}
  py-30
 ">
 <div class="{% if section.settings.section_width == 'container' %}container{% else %}container-fluid{% endif %}">    
    
  <div class="text-{{ settings.default_style_mode }}-text text-center pb-10">
    {% if section.settings.section-title %}
      <h2>{{ section.settings.section-title }}</h1>
    {% endif %}

    {% if section.settings.section-subtitle %}
      <h3>{{ section.settings.section-subtitle }}</h2>
    {% endif %}

  </div>

    <div class="images-wrapper">
      {% for block in section.blocks %}
        <img class="img-fluid" src="{{ block.settings.image | img_url: '450x' }}" />
      {% endfor %}
    </div>
  </div>
</div>

{% render 'common-section-styles' %}

{% schema %}
{
  "name": {
    "en": "Masonry gallery"
  },
  "class": "index-section index-section--masonry",
  "tag": "section",
  "settings": [
    {
        "type": "header",
        "content": {
          "en": "Background"
        }
      },
      {
        "type": "image_picker",
        "id": "img_bg",
        "label": {
          "en": "Background image"
        }
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": {
          "en": "Background color"
        } 
    },
    {
      "type": "header",
      "content": {
        "en": "Layout"
      }
    },
    {
      "type": "select",
      "id": "section_width",
      "label": {
        "en": "Section width"
      },
      "default": "full",
      "options": [
        {
          "label": {
            "en": "Container Width"
          },
          "value": "container"
        },
        {
          "label": {
            "en": "Full Width"
          },
          "value": "full"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "disable_on_mobile",
      "label":{
        "en": "Disable on mobile"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_on_tablet",
      "label":{
        "en": "Disable on tablet"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_on_desktop",
      "label":{
        "en": "Disable on desktop"
      },
      "default": false
    },
    {
      "type": "header",
      "content": {
        "en": "Section Content"
      }
    },
    {
      "type": "text",
      "id": "section-title",
      "label": {
        "en": "Title"
        }
    },
    {
      "type": "text",
      "id": "section-subtitle",
      "label": {
        "en": "Subtitle"
        }
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": {
        "en": "Image"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "en": "Image"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Masonry gallery"
      },
      "category": {
        "en": "image"
      }
    }
  ]
}
{% endschema %}