<div class="section-inner-wrapper">
  <div class="modal">
    <div class="
      modal-dialog
      modal-xl   
      {% if section.settings.disable_on_mobile %}disable_on_mobile{% endif %}
      {% if section.settings.disable_on_tablet %}disable_on_tablet{% endif %}
      {% if section.settings.disable_on_desktop %}disable_on_desktop{% endif %}
      bg-{{ settings.default_style_mode }}">
      <div class="modal-content bg-{{ settings.default_style_mode }}">
        <div class="modal-body">
          <div class="{% if section.settings.section_width == 'container' %}container{% else %}container-fluid{% endif %}">
            <div class="row no-gutters">
                <div class="col col-12 col-md-4 order-2">
                  <img class="img-fluid" src="https://picsum.photos/id/1060/1200/1028">
                </div>
                <div class="col col-12 col-md-8 order-1">
                    <div class="p-20 text-{{ settings.default_style_mode}}-text">
                        <h4 class="mb-lg-10">Head needs to be here</h4>
                        <p>
                            <small>Small description Small description Small description Small description Small description Small description Small description&nbsp;Small description Small description Small description Small description Small description Small description Small description&nbsp;Small description Small description Small description Small description Small description Small description Small description&nbsp;Small description Small description Small description Small description Small description Small description Small description&nbsp;Small description Small description Small description Small description Small description Small description Small description&nbsp;</small>
                        </p>
                        <form>
                            <div class="form-row justify-content-between">
                                <div class="col">
                                    <button class="bg-{{ settings.default_style_mode }}-filled-btn text-{{ settings.default_style_mode }}-filled-btn-text btn" type="button">LEARN MORE</button>
                                    <button class="border-{{ settings.default_style_mode }}-outline-btn-border bg-{{ settings.default_style_mode }}-outline-btn text-{{ settings.default_style_mode }}-outline-btn-text btn" type="button">LEARN MORE</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% render 'common-section-styles' %}
<script>
function isInViewport(el) {
  const rect = el.getBoundingClientRect();
  console.log(rect.top, rect.left, rect.bottom, rect.right);
  return (
      rect.top >= 0 &&
      rect.left >= 0 &&
      rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
      rect.right <= (window.innerWidth || document.documentElement.clientWidth)
  );
}

function showModal(event) {
  const promoboxSectionElement = document.querySelector('.index-section--promobox');
  console.log(isInViewport(promoboxSectionElement))
  if(promoboxSectionElement && isInViewport(promoboxSectionElement)){
    const modalElement = promoboxSectionElement.querySelector('.modal');
    const modal = new datomar.BSN.Modal(modalElement, {backdrop: true, keyboard: false});
    modal.show();
    window.removeEventListener("scroll", showModal, {passive: false});
  }
}

document.addEventListener("DOMContentLoaded", function(){
  window.addEventListener('scroll', showModal, {passive: false})
})

</script>
{% schema %}
{
  "name": {
    "en": "Promobox"
  },
  "class": "index-section index-section--promobox",
  "settings": [
    {
      "type": "header",
      "content": {
        "en": "Background"
      }
    },
    {
      "type": "image_picker",
      "id": "img_bg",
      "label": {
        "en": "Background image"
      }
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": {
        "en": "Background color"
      },
      "default": "#3a3a3a"
    },
    {
      "type": "header",
      "content": {
        "en": "Layout"
      }
    },
    {
      "type": "select",
      "id": "section_width",
      "label": {
        "en": "Section Width"
      },
      "default": "full",
      "options": [
        {
          "label": {
            "en": "Container Width"
          },
          "value": "container"
        },
        {
          "label": {
            "en": "Full Width"
          },
          "value": "full"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "disable_on_mobile",
      "label":{
        "en": "Disable on mobile"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_on_tablet",
      "label":{
        "en": "Disable on tablet"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_on_desktop",
      "label":{
        "en": "Disable on desktop"
      },
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": {
        "en": "Image"
      }
    },
    {
      "type": "select",
      "id": "image_position",
      "label": {
        "en": "Image position"
      },
      "default": "left",
      "options": [
        {
          "label": {
            "en": "Left"
          },
          "value": "left"
        },
        {
          "label": {
            "en": "Right"
          },
          "value": "right"
        }
      ]
    },
    {
      "type": "text",
      "id": "first_button_label",
      "label": {
        "en": "First Button label"
      }
    },
    {
      "type": "url",
      "id": "first_button_link",
      "label": {
        "en": "First Button link"
      }
    },
    {
      "type": "text",
      "id": "second_button_label",
      "label": {
        "en": "Second Button label"
      }
    },
    {
      "type": "url",
      "id": "second_button_link",
      "label": {
        "en": "Second Button link"
      }
    },
        {
      "type": "text",
      "id": "header",
      "label": {
        "en": "Header"
      }
    },
    {
      "type": "richtext",
      "id": "text",
      "label": {
        "en": "Text"
      }
    },
    {
      "type": "select",
      "id": "alignment",
      "label": {
        "en": "Content alignment"
      },
      "default": "center",
      "options":[
        {
          "label": {
            "en": "Left"
          },
          "value": "left"
        },
        {
          "label": {
            "en": "Center"
          },
          "value": "center"
        },
        {
          "label": {
            "en": "Right"
          },
          "value": "right"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Promobox"
      },
      "category": {
        "en": "Promotional"
      }
    }
  ]
}
{% endschema %}