{% assign store_hours_first_line_array = settings.store_hours_first_line | split: '/' %}
{% assign store_hours_first_line_size = store_hours_first_line_array | size %}
{% assign store_hours_second_line_array = settings.store_hours_second_line | split: '/' %}
{% assign store_hours_second_line_size = store_hours_second_line_array | size %}
{% assign store_hours_third_line_array = settings.store_hours_third_line | split: '/' %}
{% assign store_hours_third_line_size = store_hours_third_line_array | size %}
{% assign store_hours_fourth_line_array = settings.store_hours_fourth_line | split: '/' %}
{% assign store_hours_fourth_line_size = store_hours_fourth_line_size | size %}
{% assign store_hours_fifth_line_array = settings.store_hours_fifth_line | split: '/' %}
{% assign store_hours_fifth_line_size = store_hours_fifth_line_size | size %}
{% assign store_hours_sixth_line_array = settings.store_hours_sixth_line | split: '/' %}
{% assign store_hours_sixth_line_size = store_hours_sixth_line_array | size %}
{% assign store_hours_seventh_line_array = settings.store_hours_seventh_line | split: '/' %}
{% assign store_hours_seventh_line_size = store_hours_seventh_line_array | size %}

<script
  src="https://maps.googleapis.com/maps/api/js?key={{ settings.google_maps_api }}&callback=initMap&libraries=&v=weekly"
  defer
></script>
<div class="
  section-inner-wrapper
  pt-0
  py-lg-0
  {% if section.settings.section_width == 'container' %}container{% endif %}
  {% if section.settings.disable_on_mobile %}disable_on_mobile{% endif %}
  {% if section.settings.disable_on_tablet %}disable_on_tablet{% endif %}
  {% if section.settings.disable_on_desktop %}disable_on_desktop{% endif %}
  {% if section.settings.style_for_desktop == 'styleA' %}desktop_style_a{% else %}desktop_style_b{% endif %}
  bg-{{ settings.default_style_mode }}">
  <div class="store-hours-container">
    <div class="row no-gutters">
        <div class="restaurant-map-wrapper col col-12 col-md-6  
        {% if section.settings.map_position == 'left' %}order-lg-first{% endif %}
        {% if section.settings.map_position == 'right' %}order-lg-last{% endif %}
        {% if section.settings.style_for_desktop == 'styleB' %}d-lg-flex align-items-lg-center justify-content-lg-end{% endif %}">
          <div id="map"></div>
        </div>
        <div class="restaurant-info-wrapper col col-12 col-lg-6 align-self-center pt-15 px-lg-0 px-15 px-lg-30">
            <div class="restaurant-info text-{{ settings.default_style_mode }}-text text-{{ section.settings.alignment }}{% case section.settings.alignment %}{% when 'left' %} mr-auto{% when 'right' %} ml-auto{% else %} mx-auto{% endcase %}">
                <h4 class="store-hours-title mb-lg-10">{{ section.settings.title }}</h4>
                <div class="table-wrapper table-responsive table-borderless">
                    <table class="store-hours-table table bg-{{ settings.default_style_mode }} text-{{ settings.default_style_mode }}-text">
                        <tbody>
                            {% if section.settings.email_enabled %}
                            <tr class="email-table-row">
                              <td class="text-weight-lighter">Email:</td>
                              <td class="text-weight-lighter">{{ settings.email }}</td>
                            </tr>
                            {% endif %}
                            {% if section.settings.phone_enabled %}
                            <tr class="phone-table-row">
                                <td class="text-weight-lighter">Phone:</td>
                                <td class="text-weight-lighter">{{ settings.phone }}</td>
                            </tr>
                            {% endif %}
                            {% if section.settings.location_enabled %}
                            <tr class="location-table-row">
                                <td class="text-weight-lighter">Location:</td>
                                <td class="text-weight-lighter">{{ settings.location }}
                                  <a class="check-direction-link text-{{ settings.default_style_mode }}-text text-weight-lighter" href="#"><br>(Check direction)<br><br></a>
                                </td>
                            </tr>
                            {% endif %}
                            {% if store_hours_first_line_size > 0 %}
                            <tr class="store-hours-first-row">
                                <td class="text-weight-lighter" {% if store_hours_first_line_array[1] == blank %}colspan="2"{% endif %}>{{ store_hours_first_line_array[0] }}</td>
                                <td class="text-weight-lighter">{{ store_hours_first_line_array[1] }}</td>
                            </tr>
                            {% endif %}

                            {% if store_hours_second_line_size > 0 %}
                            <tr class="store-hours-second-row">
                                <td class="text-weight-lighter" {% if store_hours_second_line_array[1] == blank %}colspan="2"{% endif %}>{{ store_hours_second_line_array[0] }}</td>
                                <td class="text-weight-lighter">{{ store_hours_second_line_array[1] }}</td>
                            </tr>
                            {% endif %}

                            {% if store_hours_third_line_size > 0 %}
                            <tr class="store-hours-third-row">
                                <td class="text-weight-lighter" {% if store_hours_third_line_array[1] == blank %}colspan="2"{% endif %}>{{ store_hours_third_line_array[0] }}</td>
                                <td class="text-weight-lighter">{{ store_hours_third_line_array[1] }}</td>
                            </tr>
                            {% endif %}

                            {% if store_hours_fourth_line_size > 0 %}
                            <tr class="store-hours-fourth-row">
                                <td class="text-weight-lighter" {% if store_hours_fourth_line_array[1] == blank %}colspan="2"{% endif %}>{{ store_hours_fourth_line_array[0] }}</td>
                                <td class="text-weight-lighter">{{ store_hours_fourth_line_array[1] }}</td>
                            </tr>
                            {% endif %}

                            {% if store_hours_fifth_line_size > 0 %}
                            <tr class="store-hours-fifth-row">
                                <td class="text-weight-lighter" {% if store_hours_fifth_line_array[1] == blank %}colspan="2"{% endif %}>{{ store_hours_fifth_line_array[0] }}</td>
                                <td class="text-weight-lighter">{{ store_hours_fifth_line_array[1] }}</td>
                            </tr>
                            {% endif %}

                            {% if store_hours_sixth_line_size > 0 %}
                            <tr class="store-hours-sixth-row">
                                <td class="text-weight-lighter" {% if store_hours_sixth_line_array[1] == blank %}colspan="2"{% endif %}>{{ store_hours_sixth_line_array[0] }}</td>
                                <td class="text-weight-lighter">{{ store_hours_sixth_line_array[1] }}</td>
                            </tr>
                            {% endif %}

                            {% if store_hours_seventh_line_size > 0 %}
                            <tr class="store-hours-seventh-row">
                                <td class="px-0 text-weight-lighter" {% if store_hours_seventh_line_array[1] == blank %}colspan="2"{% endif %}>{{ store_hours_seventh_line_array[0] }}</td>
                                <td class="px-0">{{ store_hours_seventh_line_array[1] }}</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <a class="btn bg-{{ settings.default_style_mode }}-filled-btn text-{{ settings.default_style_mode }}-filled-btn-text btn" href="{{ section.settings.button_link }}">{{ section.settings.button_label }}</a>
            </div>
        </div>
    </div>
  </div>
</div>
{% render 'common-section-styles' %}
<style type="text/css">

  .restaurant-info {
    width: fit-content;
  }

  .restaurant-map-wrapper {
  	width: 100%;
  }

  @media (max-width: 991.98px){
    .restaurant-map-wrapper {
      height: 50vh;
    }

    #map {
      height: 100%;
    }
  }

  [style*="color: black; font-size: 12px; font-weight: 500"] {
  	position: relative; 
    left: 80px; 
    top: 15px;
  }

  .store-hours-table.table td {
    padding: 0.75rem 0;
  }

  .store-hours-table.table tr td:nth-of-type(1):not([colspan="2"]) {
    padding-right: 1.5rem;
  }

  @media (min-width: 992px ){
    #shopify-section-{{ section.id }} .desktop_style_b #map {
      width: 70%;
      height: 70%;
    }
  }


</style>
<script>
  function initMap() {
    const initialLatLng = { lat: -34.397, lng: 150.644 }
    let map = new google.maps.Map(document.getElementById("map"), {
      center: initialLatLng,
      zoom: {{ section.settings.zoom}},
    });
    const geocoder = new google.maps.Geocoder();
    geocoder.geocode({ "address": "{{ settings.location | url_encode }}" }, function(results, status){
      console.log(results);
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location,
          label: { color: "black", fontWeight: "500", fontSize: "12px", text: "{{ settings.company_name }}" }
        });
        const formatted_address = results[0].formatted_address;
        const check_direction_link = document.querySelector("a.check-direction-link");
        if(check_direction_link && formatted_address) {
          check_direction_link.href = `https://www.google.com/maps/dir/${encodeURI(formatted_address)}//`;
        }
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    })
  }
</script>

{% schema %}
{
  "name": {
    "en": "Store hours"
  },
  "class": "index-section index-section--store-hours",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": {
        "en": "Background"
      }
    },
    {
      "type": "image_picker",
      "id": "img_bg",
      "label": {
        "en": "Background image"
      }
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": {
        "en": "Background color"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Layout"
      }
    },
    {
      "type": "select",
      "id": "section_width",
      "label": {
        "en": "Section Width"
      },
      "default": "full",
      "options": [
        {
          "label": {
            "en": "Container Width"
          },
          "value": "container"
        },
        {
          "label": {
            "en": "Full Width"
          },
          "value": "full"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "disable_on_mobile",
      "label":{
        "en": "Disable on mobile"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_on_tablet",
      "label":{
        "en": "Disable on tablet"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_on_desktop",
      "label":{
        "en": "Disable on desktop"
      },
      "default": false
    },
    {
      "type":"select",
      "id":"style_for_desktop",
      "label":{
        "en":"Choose a style for desktop"
      },
      "default":"styleA",
      "options":[
        {
          "label":{
            "en":"Style A"
          },
          "value":"styleA"
        },
        {
          "label":{
            "en":"Style B"
          },
          "value":"styleB"
        }
      ]
    },
    {
      "type": "header",
      "content": {
        "en": "Section Content"
      }
    },
    {
      "type": "text",
      "id": "title",
      "label": {
        "en": "Title"
      }
    },
    {
      "type": "checkbox",
      "id": "email_enabled",
      "label": {
        "en": "Display email"
      }
    },
    {
      "type": "checkbox",
      "id": "phone_enabled",
      "label": {
        "en": "Display phone number"
      }
    },
    {
      "type": "checkbox",
      "id": "location_enabled",
      "label": {
        "en": "Display location"
      }
    },
    {
      "type": "range",
      "id": "zoom",
      "label": "Map zoom level",
      "min": 1,
      "max": 22,
      "step": 1,
      "unit": "x",
      "default": 2
    },
    {
      "type": "select",
      "id": "map_position",
      "label": {
        "en": "Map position"
      },
      "default": "left",
      "options": [
        {
          "label": {
            "en": "Left"
          },
          "value": "left"
        },
        {
          "label": {
            "en": "Right"
          },
          "value": "right"
        }
      ]
    },
    {
      "type": "select",
      "id": "alignment",
      "label": {
        "en": "Content alignment"
      },
      "default": "center",
      "options":[
        {
          "label": {
            "en": "Left"
          },
          "value": "left"
        },
        {
          "label": {
            "en": "Center"
          },
          "value": "center"
        },
        {
          "label": {
            "en": "Right"
          },
          "value": "right"
        }
      ]
    },
    {
      "type": "text",
      "id": "button_label",
      "label": {
        "en": "Button label"
      }
    },
    {
      "type": "url",
      "id": "button_link",
      "label": {
        "en": "Button link"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Store hours"
      },
      "category": {
        "en": "text"
      }
    }
  ]
}
{% endschema %}