<div class="
  section-inner-wrapper
  {% if section.settings.disable_on_mobile %}disable_on_mobile{% endif %}
  {% if section.settings.disable_on_tablet %}disable_on_tablet{% endif %}
  {% if section.settings.disable_on_desktop %}disable_on_desktop{% endif %}
  bg-{{ settings.default_style_mode }}
  {{ section.settings.style }}
  py-sm-30">

  <div class="{% if section.settings.section_width == 'container' %}container{% endif %}">    
    <div id="testimonials">
    <div class="glider-contain">
        <div class="glider p-20">

          {% for block in section.blocks %}
            <div class="card mr-sm-10 rounded-0">
                <div class="card-body">
                    <h4 class="card-title">
                        <i class="fas fa-quote-left"></i>
                    </h4>
                    <blockquote class="text-{{ block.settings.alignment }}">
                      <div class="card-text mb-20">
                        {{ block.settings.review }}
                      </div>
                      <div class="blockquote-footer"> - {{ block.settings.reviewer }}</div>
                    </blockquote>
                </div>
            </div>
            {% endfor %}

        </div>
        <button class="btn glider-prev d-none" type="button">&lt;</button>
        <button class="btn glider-next d-none" type="button">&gt;</button>
        <div class="dots" id="resp-dots"></div>
    </div>
</div>
</div>
</div>

{% render 'common-section-styles' %}

<style>
.bg-dark.styleA .glider, .bg-dark.styleB .glider, .bg-dark.styleA .card, .bg-light.styleA .card{
  background-color: #ffffff;
}

.bg-light.styleA .glider, .bg-light.styleB .glider{
  background-color: #000000;
}

.bg-dark.styleB .card, .bg-light.styleB .card{
  background-color: #000000;
  color: #fff;
}

.bg-light.styleB .card{
  border: 1px solid #ffffff;
}
</style>

{% schema %}
{
  "name": {
    "en": "Testimonials"
  },
  "class": "index-section index-section--testimonials",
  "tag": "section",
  "max_blocks": 20,
  "settings": [
    {
      "type": "header",
      "content": {
        "en": "Background"
      }
    },
    {
      "type": "image_picker",
      "id": "img_bg",
      "label": {
        "en": "Background image"
      }
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": {
        "en": "Background color"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Layout"
      }
    },
    {
      "type": "select",
      "id": "section_width",
      "label": {
        "en": "Section Width"
      },
      "default": "full",
      "options": [
        {
          "label": {
            "en": "Container Width"
          },
          "value": "container"
        },
        {
          "label": {
            "en": "Full Width"
          },
          "value": "full"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "disable_on_mobile",
      "label":{
        "en": "Disable on mobile"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_on_tablet",
      "label":{
        "en": "Disable on tablet"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_on_desktop",
      "label":{
        "en": "Disable on desktop"
      },
      "default": false
    },
    {
      "type": "header",
      "content": {
        "en": "Section Content"
      }
    },
    {
      "type": "select",
      "id": "style",
      "label": {
        "en": "Choose a style"
      },
      "default": "styleA",
      "options": [
        {
          "label": {
            "en": "Style A"
          },
          "value": "styleA"
        },
        {
          "label": {
            "en": "Style B"
          },
          "value": "styleB"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": {
        "en": "Testimonial"
      },
      "settings": [
        {
          "type": "select",
          "id": "alignment",
          "label": {
            "en": "Content alignment"
          },
          "default": "center",
          "options":[
            {
              "label": {
                "en": "Left"
              },
              "value": "left"
            },
            {
              "label": {
                "en": "Center"
              },
              "value": "center"
            },
            {
              "label": {
                "en": "Right"
              },
              "value": "right"
            }
          ]
        },
        {
          "type": "text",
          "id": "reviewer",
          "label": {
            "en": "Reviewer Name"
          }
        },
        {
          "type": "richtext",
          "id": "review",
          "label": {
            "en": "Review"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Testimonials"
      },
      "category": {
        "en": "text"
      }
    }
  ]
}
{% endschema %}