<div class="
                          section-inner-wrapper
                          {% if section.settings.disable_on_mobile %}disable_on_mobile{% endif %}
                          {% if section.settings.disable_on_tablet %}disable_on_tablet{% endif %}
                          {% if section.settings.disable_on_desktop %}disable_on_desktop{% endif %}
                          py-30
                          bg-{{ settings.default_style_mode }}
                        ">
    <div class="{% if section.settings.section_width == 'container' %}container{% else %}container-fluid{% endif %}">    
      <div class="row">
        {% for block in section.blocks %}
          <div class="col col-12 col-sm-4">
              <img class="card-img-top w-100 d-block" src="{{ block.settings.image | img_url: '500x300', crop: 'center' }}">
                  <div class="card-body text-{{ block.settings.alignment }} text-{{ settings.default_style_mode }}-text">
                      <h6 class="card-title crop-text-1 my-10">{{ block.settings.title }}</h6>
                      <div class="card-text crop-text-desc mb-20">
                        {{ block.settings.description }}
                      </div>
                      <a class="btn bg-{{ settings.default_style_mode }}-filled-btn text-{{ settings.default_style_mode }}-filled-btn-text" href="{{ block.settings.button_link }}">{{ block.settings.button_label }}</a>
                  </div>
          </div>
        {% endfor %}
      </div>
    </div>
</div>

{% render 'common-section-styles' %}
<style>
  
  .crop-text-1 {
  -webkit-line-clamp: 1;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  }

  .crop-text-desc {
  -webkit-line-clamp: {{ section.settings.line_num }};
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  }

</style>

{% schema %}
{
  "name": {
    "en": "Three columns"
  },
  "class": "index-section index-section--three-columns",
  "tag": "section",
  "max_blocks": 3,
  "settings": [
    {
      "type": "header",
      "content": {
        "en": "Background"
      }
    },
    {
      "type": "image_picker",
      "id": "img_bg",
      "label": {
        "en": "Background image"
      }
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": {
        "en": "Background color"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Layout"
      }
    },
    {
      "type": "select",
      "id": "section_width",
      "label": {
        "en": "Section Width"
      },
      "default": "full",
      "options": [
        {
          "label": {
            "en": "Container Width"
          },
          "value": "container"
        },
        {
          "label": {
            "en": "Full Width"
          },
          "value": "full"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "disable_on_mobile",
      "label":{
        "en": "Disable on mobile"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_on_tablet",
      "label":{
        "en": "Disable on tablet"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_on_desktop",
      "label":{
        "en": "Disable on desktop"
      },
      "default": false
    },
    {
      "type": "header",
      "content": {
        "en": "Section Content"
      }
    },
    {
      "type":      "range",
      "id":        "line_num",
      "min":       1,
      "max":        20,
      "step":       1,
      "label":     "Show # of Line Text for Description",
      "default":   6
    }
  ],
  
  "blocks": [
    {
      "type": "column",
      "name": {
        "en": "Column"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "en": "Image"
          }
        },
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Title"
          }
        },
        {
          "type": "richtext",
          "id": "description",
          "label": {
            "en": "Description"
          }
        },
        {
          "type": "text",
          "id": "button_label",
          "label": {
            "en": "Button label"
          }
        },
        {
          "type": "url",
          "id": "button_link",
          "label": {
            "en": "Button link"
          }
        },
        {
          "type": "select",
          "id": "alignment",
          "label": {
            "en": "Content alignment"
          },
          "default": "center",
          "options":[
            {
              "label": {
                "en": "Left"
              },
              "value": "left"
            },
            {
              "label": {
                "en": "Center"
              },
              "value": "center"
            },
            {
              "label": {
                "en": "Right"
              },
              "value": "right"
            }
          ]
        }
      ]
    }
  ], 
  "presets": [
    {
      "name": {
        "en": "Three columns"
      },
      "category": {
        "en": "image"
      }
    }
  ]
}
{% endschema %}