<div id="collection-navigation">
  {% if collection.handle == 'all' or is_menu_page == true %}
    <ul class="nav flex-row flex-lg-column collection-titles">
      {% for collection in collections %}
        {% unless collection.handle == 'all' %}
          <li class="collection-link-wrapper">
            <a href="#{{ collection.handle }}" class="collection-link text-{{ settings.default_style_mode }}-text">
              {{ collection.title }}
            </a>
          </li>
        {% endunless %}
      {% endfor %}
    </ul>
  {% else %}
    <a href="{{ routes.all_products_collection_url | append: '#' | append: collection.handle }}">
      <span class="text-{{ settings.default_style_mode }}-text">&lt;&lt;&nbsp; Go Back</span>
    </a>
  {% endif %}
</div>
<script>
  document.addEventListener("DOMContentLoaded", function(){
    const currentHash = location.hash;
    if(currentHash != '') {
      activeLink = document.querySelector(`[href="${currentHash}"]`);
      activeLink && activeLink.classList.add("active");
    }
    const links = document.querySelectorAll('.collection-titles a[href^="#"]');
    links.forEach(link => {
      link.addEventListener('click', (e) => {
        if(!link.classList.contains('active')){
          const currentActiveLink = document.querySelector('.collection-titles a.active');
          currentActiveLink && currentActiveLink.classList.remove('active');
          link.classList.add('active');
        }
      })
    })
  });
</script>
<style>

  li.collection-link-wrapper {
      display: block;
      min-width: fit-content;
      padding: 10px;
  }
  
  .collection-titles li a {
    color: white;
  }

  .collection-titles li a.active {
    color: red;
  }

  .bg-dark .collection-titles a.active:before {
    color: white;
    content: ">>";
  }

  .bg-light .collection-titles a.active:before {
    color: black;
    content: ">>";
  }
</style>