<a class="nav-link" href="tel:{{ settings.phone }}">
  <i aria-hidden="true" class="fas fa-phone text-{{settings.default_style_mode}}-header-text"></i>
</a>
{% if shop.customer_accounts_enabled %}
<a class="nav-link" href=" {% unless customer %}{{ routes.account_login_url }}{% else %}{{ routes.account_url }}{% endunless %}">
    <i aria-hidden="true" class="far fa-user text-{{settings.default_style_mode}}-header-text"></i>
</a>
{% endif %}
<a class="nav-link" href="{{ routes.cart_url }}">
    <i aria-hidden="true" class="fas fa-shopping-cart text-{{settings.default_style_mode}}-header-text" data-cart-count="{{ cart.item_count }}"></i>
</a>
<a class="nav-link" href="{{ routes.search_url }}">
    <i aria-hidden="true" class="fa fa-search text-{{settings.default_style_mode}}-header-text"></i>
</a>